<ion-view title="Login" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="login-form2" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input4">
          <input type="text" placeholder="Username">
        </label>
        <label class="item item-input" id="login-input5">
          <input type="password" placeholder="Hasło">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.twojeWizyty" id="login-button2" class="button button-stable  button-block">Zaloguj</a>
      <a href-inappbrowser="/signup" id="login-button3" class="button button-positive  button-block button-clear">Utwórz nowe konto</a>
    </form>
  </ion-content>
</ion-view>