<ion-view title="Ustawienia" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="ustawienia-list4">
      <ion-item class="item-avatar item-icon-right" id="ustawienia-list-item15">
        <h2>Imię</h2>
        <p>Nazwisko</p>
        <i class="icon ion-android-settings"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="ustawienia-list-item16">
        <i class="icon ion-android-call"></i>Numer telefonu
        <i class="icon ion-android-settings"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="ustawienia-list-item17">
        <i class="icon ion-android-locate"></i>Lokalizacja
        <i class="icon ion-android-settings"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>