<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <a href="https://smarttime2017.herokuapp.com/dummyData/business">FIRMY</a>
    <a href="https://smarttime2017.herokuapp.com/dummyData/services">USLUGI</a>
    <a href="https://smarttime2017.herokuapp.com/dummyData/users">UZYTKOWNICY</a>
    <a href="https://smarttime2017.herokuapp.com/dummyData/reservation">REZERWACJE</a>
    <a href="https://smarttime2017.herokuapp.com/dummyData">DODAJ NOWE</a>
</body>
</html>